.perfil-body{
    display: flex;
}

.left-zone{
    width: 30%;
    display: flex;
    justify-content: center;
}

.right-zone{
    width: 70%;
    display: flex;
    justify-content: center;
}

.right-zone-card{
    border: 1px solid #f7992d;
    text-align: center;
    justify-content: center;
    width: 70%;
}


@media only screen and (max-width: 1024px) {
 

}



@media only screen and (max-width: 430px) {


}
