.perfil-body-datos{
    display: flex;
}

.left-zone-datos{
    width: 30%;
    display: flex;
    justify-content: center;
}

.right-zone-datos{
    width: 70%;
    display: flex;
    justify-content: center;
}

.right-zone-card-datos{
    border: 1px solid #f7992d;
    text-align: center;
    justify-content: center;
    height: fit-content;
    width: 60%;
}


@media only screen and (max-width: 1024px) {
 

}



@media only screen and (max-width: 430px) {


}
