<app-header/>
<div class="perfil-page-datos">
    <div class="perfil-body-datos">

        <div class="left-zone-datos">
            <mi-perfil-detalles/>
        </div>

        <div class="right-zone-datos">
            <div class="right-zone-card-datos">
                <app-stats-form [nickName]="usuarioEncontrado.nickname" [kcals]="usuarioEncontrado.compras.kcal" [imc]="usuarioEncontrado.compras.imc"/>
                <perfil-form/>
            </div>
        </div>
    </div>

    <app-footer/>
</div>

