<app-header></app-header>
<div class="perfil-page-datos">
  <div class="perfil-body-datos">
    <div class="left-zone-datos">
      <mi-perfil-detalles></mi-perfil-detalles>
    </div>
    <ng-container *ngIf="isLoggedIn">
      <div class="right-zone-datos">
        <div class="right-zone-card-datos">
          <app-stats-form
            [nickName]="usuarioEncontrado.nickname"
            [kcals]="usuarioEncontrado.compras.kcal"
            [imc]="usuarioEncontrado.compras.imc"
          ></app-stats-form>
          <perfil-form></perfil-form>
        </div>
      </div>
    </ng-container>
    <div *ngIf="!isLoggedIn" class="mensaje-inicio-sesion">
      <p>Por favor, inicia sesión para acceder a esta página.</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
