
.producto-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.producto-card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.producto-details {
    flex-grow: 1;
}

.producto-details h1 {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}
#id{
    display: none;
}

.producto-details h2 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #888;
}

.producto-details p {
    font-size: 14px;
    color: #333;
}

.precio-y-botones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.precio {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


@media only screen and (max-width: 430px) {
  .producto-card{
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .precio-y-botones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .producto-card{
    text-align: center;
    width: 80%;
  }

}

