<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta de Producto</title>
</head>
<body>
    <section class="producto-card">
        <img src="../Source/default-img.png" alt="Producto">
        <section class="producto-details">
            <!--<section class="contenedor-estrella" id="contenedor-estrella"></section>-->
            <h1>Producto</h1>
            <h2>SKU</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo consequatur dolorem, placeat dolor, quos doloremque consectetur eum magnam modi delectus aut explicabo reprehenderit consequuntur quaerat debitis doloribus tempore! Iusto, quidem!.</p>
            @if (router.url === '/') {
                <section class="precio-y-botones">
                    <button class="eliminar-btn" routerLink="/tienda" routerLinkActive="active" ariaCurrentWhenActive="page">Ir a tienda</button>
                </section>
            }
            @else if (router.url === '/tienda') {
                <section class="precio-y-botones">
                    <div class="precio">XX.XX€</div>
                    <button class="eliminar-btn">Añadir</button>
                </section>
            }
            @else if (router.url === '/perfil') {
                <section class="precio-y-botones">
                    <div class="precio">XX.XX€</div>
                    <button class="eliminar-btn">Eliminar</button>
                </section>
            }
        </section>
    </section>
</body>
</html>
