<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Introducción de código promocional</title>
    </head>
    <body>

        <section class="codigo-promocional">
            <section class="input-button-container">
                <input type="text" placeholder="Introduce tu código promocional">
                <button>Aplicar</button>
            </section>
        </section>

    </body>
</html>
