<app-header/>
<div class="perfil-page-historial">
    <div class="perfil-body-historial">

        <div class="left-zone-historial">
            <mi-perfil-detalles/>
        </div>

        <div class="right-zone-historial">
            <div class="right-zone-card-historial">
                @for (compra of comprasArray; track compra.numPedido) {
                    <app-tarjeta-historial-compras [precio]="compra.precio"
                    [id]="compra.id" [numPedido]="compra.numPedido"
                    [fecha]="compra.fecha"/>
                }

            </div>
        </div>
    </div>

    <app-footer/>
</div>

