
<section class="producto-card">
    <img [src]="linkImages" alt="Producto">
    <section class="producto-details">
        <h1>{{nombre}}</h1>
        <h2>{{nombreDetallado}}</h2>
        <h1>{{precio}} €</h1>
        <section class="producto-unidades">
            <button (click)="removeQuantity()" class="operar-cantidad">-</button>
            <h2>{{cantidad}}</h2>
            <button (click)="addQuantity()" class="operar-cantidad">+</button>
        </section>
    </section>
</section>
