<app-header class="header"/>
<section class="filtros-container">
    <filtro-opciones class="filtroOpciones"/>
    <filtro-precios class="filtroPrecio"/>
    <button class="aplicar">Aplicar Filtros</button>
    <button class="limpiar">Limpiar Filtros</button>
</section>
<ordenar-por-desplegable class="ordenarPor"/>
<section class="productos-container" id="productos">
    @for (producto of productosArray; track producto.id){
      <tarjeta-producto class="tarjeta-tienda" [nombre]="producto.nombre" [id]="producto.id"
      [nombreDetallado]="producto.nombre_detallado" [descripcion]="producto.descripcion" [precio]="producto.precio"/>
    }
</section>
<app-footer class="footer"/>
