<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header sin CSS</title>
        <link rel="stylesheet" type="text/css" href="../Assets/Styles/components.css">
        <link rel="stylesheet" type="text/css" href="../Assets/Styles/headers.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    </head>
    <body>
        <header>
            <section class="up-header" id="hide-up-header">
                <img src="tu_imagen.png" class="logo" />
                <button class="login-btn" onclick="fetchAndInsertHTML('../Forms/iniciarSesion.html', 'miDiv')">Login</button>
                <button class="register-btn" onclick="fetchAndInsertHTML('../Forms/registrarUsuario.html', 'miDiv')">Register <i class="fas fa-chevron-right fa-sm" style="color:white;"></i></button>
            </section>
            <div id="miDiv"></div>

            <nav>
                <ul class="sidebar">
                    <div class="botones">
                        <img src="tu_imagen.png" class="logo" />
                        <button class="login-btn" onclick="fetchAndInsertHTML('../Forms/iniciarSesion.html', 'miDiv')">Login</button>
                        <button class="register-btn" onclick="fetchAndInsertHTML('../Forms/registrarUsuario.html', 'miDiv')">Register <i class="fas fa-chevron-right fa-sm" style="color:white;"></i></button>
                    </div>
                    <li><a href="#"><img
                            width="25"
                            height="25"
                            id="hideSidebar"
                            src="https://img.icons8.com/sf-ultralight/25/delete-sign.png"
                            alt="delete-sign"
                    /></a></li>
                    <li><a href="/PWM.42.6-main/Templates/Pages/inicioNotLoggedIn.html"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/PWM.42.6-main/Templates/Pages/tiendaNotLoggedIn.html"><i class="fas fa-store"></i> Tienda</a></li>
                    <li>
                        <a href="#"><i class="fas fa-calculator"></i> Calculadoras</a>
                        <ul>
                            <li><a href="/PWM.42.6-main/Templates/Pages/calculadoraIMCNotLoggedIn.html">Calculadora IMC</a></li>
                            <li><a href="/PWM.42.6-main/Templates/Pages/calculadoraKcalNotLoggedIn.html">Calculadora Kcal</a></li>
                        </ul>
                    </li>
                    <li><a href="/PWM.42.6-main/Templates/Pages/dietaNotLoggedIn.html"><i class="fas fa-utensils"></i> Dieta</a></li>
                    <li><a href="/PWM.42.6-main/Templates/Pages/rutinaNotLoggedIn.html"><i class="fas fa-dumbbell"></i> Rutinas</a></li>
                </ul>
            </nav>

            <nav>
                <ul>
                    <li class="hideOnMobile"><a href="/PWM.42.6-main/Templates/Pages/inicioNotLoggedIn.html"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="hideOnMobile"><a href="/PWM.42.6-main/Templates/Pages/tiendaNotLoggedIn.html"><i class="fas fa-store"></i> Tienda</a></li>
                    <li class="hideOnMobile">
                        <a href="#"><i class="fas fa-calculator" id="calc-menu"></i> Calculadoras</a>
                        <ul class="submenu">
                            <li><a href="/PWM.42.6-main/Templates/Pages/calculadoraIMCNotLoggedIn.html">Calculadora IMC</a></li>
                            <li><a href="/PWM.42.6-main/Templates/Pages/calculadoraKcalNotLoggedIn.html">Calculadora Kcal</a></li>
                        </ul>
                    </li>
                    <li class="hideOnMobile"><a href="/PWM.42.6-main/Templates/Pages/dietaNotLoggedIn.html"><i class="fas fa-utensils"></i> Dieta</a></li>
                    <li class="hideOnMobile"><a href="/PWM.42.6-main/Templates/Pages/rutinaNotLoggedIn.html"><i class="fas fa-dumbbell"></i> Rutinas</a></li>
                    <li class="menu-button"><a href="#"><i class="fas fa-bars" id="showSidebar"></i></a></li>
                </ul>
            </nav>
        </header>
        <script src="/PWM.42.6-main/Templates/Assets/Scripts/header.js"></script>
    </body>
</html>