<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/calculadoraIMC.css">
        <title>Página CalculadoraIMC</title>
    </head>
    <body>
        <section class="overlay" id="overlay"></section>
        <section class="cestaHeader" id="cesta-container"></section>
        <header class="headerSinBuscar"></header>
        <div class="slider"></div>
        
        <section class="imcInfo" id="detallesIMC">
            <script>generarComponente(2, "detallesIMC", "imcDetalles");</script>
        </section>
        
        <div class="formCalculadoraIMC"></div>
        <footer class="footer"></footer>
        <script src="../Assets/Scripts/cestaSidebar.js"></script>
    </body>
</html>
