<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/calculadoraIMC.css">
        <title>Página CalculadoraIMC</title>
    </head>
    <body>
        <header class="header"></header>
        <div class="slider"></div>
        <section class="imcInfo">
            <section class="imcDetalles"></section>
            <section class="imcDetalles"></section>
        </section>
        <div class="formCalculadoraIMC"></div>
        <footer class="footer"></footer>
    </body>
</html>
