<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Assets/Scripts/main.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/Pages/calculadoraKcal.css">
    <title>Página CalculadoraKcal</title>
</head>
<body>
    <section class="overlay" id="overlay"></section>
    <section class="cestaHeader" id="cesta-container"></section>
    <header class="headerSinBuscarConLogin"></header>
    <div class="slider"></div>
    <div class="formCalculadoraKcal"></div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <p id="mensaje"></p>
        </div>
    </div>

    <footer class="footer"></footer>
    
    <script src="../Assets/Scripts/cestaSidebar.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/iniciarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/registrarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/cesta.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/calculadoraKcal.js"></script>
</body>
</html>