<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <script src="../Assets/Scripts/custom-scrollbar.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/inicio.css">

        <title>Página Inicio</title>
    </head>
    <body>
        <header class="headerSinBuscarConLogin"></header>
        <div class="slider"></div>
        <div id="miDiv"></div>
        <h1 id="productos-bar">Productos</h1>
        <section class="productos-container" id="productos-container">
            <script>generarComponente(2, "productos-container", "tarjetaProducto1");</script>
        </section>
        <h1>Rutinas</h1>
        <div id="detalles-tarjeta"></div>
        <section class="rutinas-completo">
            <section id="left-btn"></section>
            <section class="rutinas-container" id="rutinas-container">
                <script>generarComponente(6, "rutinas-container", "tarjetaGeneral");</script>
            </section>
            <section id="right-btn"></section>
        </section>
        <footer class="footer"></footer>
    </body>

    <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/inicio.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/iniciarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/registrarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/favoritos.js" defer></script>
</html>
