<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <script src="../Assets/Scripts/custom-scrollbar.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/inicio.css">

        <!--css componentes-->
        <link rel="stylesheet" href="../Assets/Styles/TarjetaProducto1.css">
        <link rel="stylesheet" href="../Assets/Styles/tarjetaGeneral.css">

        <title>Página Inicio</title>
    </head>
    <body>
        <section class="overlay" id="overlay"></section>
        <header class="headerSinBuscar"></header>
        <section class="cestaHeader" id="cesta-container"></section>
        <div class="slider"></div>
        <h1>Productos</h1>
        
        <section class="productos-container">
            <!--<div class="tarjetaProducto1">
                <section class="producto-card">
                    <img src="../Source/default-img.png" alt="Producto">
                    <section class="producto-details">
                        <h1>Producto</h1>
                        <h2>SKU</h2>
                        <h1>XX.XX€</h1>
                        <section class="producto-unidades">
                            <button class="operar-cantidad">-</button>
                            <h2>1</h2>
                            <button class="operar-cantidad">+</button>
                        </section>
                    </section>
                </section>
            </div>
            <div class="tarjetaProducto1"></div>-->
        </section>
        
        <h1>Rutinas</h1>
        <div id="detalles-tarjeta"></div>
        <section class="rutinas-completo">
            <section id="left-btn"></section>
            <section class="rutinas-container" id="rutinas-container">
                <!--<script>generarComponente(6, "rutinas-container", "tarjetaGeneral");</script>-->
            </section>
            <section id="right-btn"></section>
        </section>
        
        <footer class="footer"></footer>
        
    </body>
    <script src="../Assets/Scripts/cestaSidebar.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/iniciarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/registrarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/inicio.js"></script>
</html>