<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <script src="../Assets/Scripts/custom-scrollbar.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/inicio.css">

        <!--css componentes-->
        <link rel="stylesheet" href="../Assets/Styles/TarjetaProducto1.css">

        <title>Página Inicio</title>
    </head>
    <body>
        <header class="headerSinBuscarConLogin"></header>
        <div class="slider"></div>
        <div id="miDiv"></div>
        <h1>Productos</h1>
        <section class="productos-container">
            <!--TarjetasProductos-->
            <!--for(int i=0; i<2; i++){
                TarjetaProducto(fecth(json, producto[i]))
            }-->
        </section>
        <h1>Rutinas</h1>
        <div id="detalles-tarjeta"></div>
        <section class="rutinas-completo">
            <section id="left-btn"></section>
            <section class="rutinas-container" id="rutinas-container">
                <script>generarComponente(6, "rutinas-container", "tarjetaGeneral");</script>
            </section>
            <section id="right-btn"></section>
        </section>
        <footer class="footer"></footer>
    </body>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/iniciarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/inicio.js"></script>
</html>
