<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Assets/Scripts/main.js"></script>
    <title>Página Mis Datos</title>
</head>
<body>
    <header id="header"></header>
    <section id="miPerfilDetalles"></section>
    <section id="statsForm"></section>
    <form id="nickNameForm"></form>
    <section id="passwordForm"></section>
    <form id="pesoForm"></form>
    <form id="alturaForm"></form>
    <form id="kcalForm"></form>
    <footer id="footer"></footer>
</body>
</html>
