<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Assets/Scripts/main.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/Pages/perfilPages.css">
    <title>Página Historial Compras</title>
</head>
<body>
    <header class="header"></header>
    <section class="detalles-tarjetas">
        <div class="miPerfilDetalles"></div>
        <section class="historialCompras-list" id="tarjetaProductoHistorial">
            <script>generarComponente(8, "tarjetaProductoHistorial", "tarjetaProductoHistorialCompras");</script>
        </section>

    </section>

    
    <footer class="footer"></footer>
</body>
</html>
