<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Assets/Scripts/main.js"></script>
    <title>Página Mis Datos</title>
</head>
<body>
    <header id="header"></header>
    <div id="miPerfilDetalles"></div>
    <div id="statsForm"></div>
    <div id="nickNameForm"></div>
    <div id="passwordForm"></div>
    <div id="pesoForm"></div>
    <div id="alturaForm"></div>
    <div id="kcalForm"></div>
    <footer id="footer"></footer>
</body>
</html>
