<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../Assets/Scripts/main.js"></script>
    <link rel="stylesheet" href="../Assets/Styles/Pages/perfilPages.css" />
    <title>Página Mis Datos</title>
  </head>
  <body>
    <header class="header"></header>
    <div class="detalles-tarjetas">
      <section class="miPerfilDetalles"></section>
      <section class="datos-container">
        <section class="statsForm"></section>
        <section class="perfilForm"></section>
      </section>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
