<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/dietaRutina.css">

        <!--css componentes-->
        <link rel="stylesheet" href="../Assets/Styles/tarjetaGeneral.css">

        <title>Página Rutina</title>
    </head>
    <body>
        <section class="overlay" id="overlay"></section>
    <section class="cestaHeader" id="cesta-container"></section>
    <header class="header"></header>
    <section class="filtroTarjeta">
        <div class="filtroOpciones"></div>
        <button class="aplicar">Aplicar Filtros</button>
        <button class="limpiar">Limpiar Filtros</button>

        <div id="detalles-tarjeta"></div>
        <section class="tarjetas" id="tarjetasRutina-container">
            <script>generarComponente(18, "tarjetasRutina-container", "tarjetaGeneral");</script>
        </section>
    </section>

    <footer class="footer"></footer>

    <script src="../Assets/Scripts/limpiarFiltros.js"></script>
    <script src="../Assets/Scripts/cestaSidebar.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/iniciarUsuario.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/rutina.js"></script>
    <script src="/PWM.42.6-main/Templates/Assets/Scripts/registrarUsuario.js"></script>
        <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/cesta.js"></script>

</body>
</html>
