<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/dietaRutina.css">
        <title>Página Rutina</title>
    </head>
    <body>
        <section class="overlay" id="overlay"></section>
    <section class="cestaHeader" id="cesta-container"></section>
    <header class="header"></header>
    <section class="filtroTarjeta">
        <div class="filtroOpciones"></div>
        <button class="limpiar">Limpiar Filtros</button>
        <div id="detalles-tarjeta"></div>
        <section class="tarjetas" id="tarjetasRutina-container">
            <script>generarComponente(18, "tarjetasRutina-container", "tarjetaGeneral");</script>
        </section>
    </section>
    <script src="../Assets/Scripts/limpiarFiltros.js"></script>
    <footer class="footer"></footer>
    <script src="../Assets/Scripts/cestaSidebar.js"></script>
</body>
</html>
