<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../Assets/Scripts/main.js"></script>
        <link rel="stylesheet" href="../Assets/Styles/Pages/tiendaBuscar.css">
        <title>Tienda sin la sesión inicida y buscador</title>
    </head>
    <body>
        <section class="overlay" id="overlay"></section>
        <section class="cestaHeader" id="cesta-container"></section>
        <header class="header"></header>
        <section class="filtros-productos">
            <section class="filtros-container">
                <div class="filtroOpciones"></div>
                <div class="filtroPrecio"></div>
                <button class="aplicar">Aplicar Filtros</button>
                <button class="limpiar">Limpiar Filtros</button>
            </section>
            <section class="ordenarPor"></section>
            <section class="productos-container", id="productos">
                <!--<script>generarComponente(14, "productos", "tarjetaProducto2");</script>-->
            </section>
        </section>
        <footer class="footer"></footer>
        <script src="../Assets/Scripts/limpiarFiltros.js"></script>
        <script src="../Assets/Scripts/cestaSidebar.js"></script>
        <script src="/PWM.42.6-main/Templates/Assets/Scripts/CargaDeDatos/tiendaBuscar.js"></script>
        <script src="/PWM.42.6-main/Templates/Assets/Scripts/favoritos.js" defer></script>
    </body>
</html>
