.password{
    display: flex;
    justify-content: center;
}

.password-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#nuevaContrasena, #repetirContrasena {
    margin-top: 2%;
}

form {
    margin-top: 2%;
}