
<body class="form-main">
  <form class="nicknameForm">
    <section class="input-container">
      <label for="nicknameInput">Nickname:</label> <br />
      <input
        [(ngModel)]="newNickname"
        type="text"
        id="nicknameInput"
        name="nickname"
        placeholder="Nickname"
        required
      />
    </section>
    <br />
    <button (click)="handleClickNickName()" type="button" id="nickNameButton">Guardar</button>
  </form>

  <form class="passwordForm">
    <section class="password">
      <section class="password-container">
        <input id="antiguaContrasena" name="antiguaContrasena" type="password" placeholder="Antigua Contraseña" [(ngModel)]="prevPassWord" />
        <input id="nuevaContrasena" name="nuevaContrasena" type="password" placeholder="Nueva Contraseña" [(ngModel)]="newPassWord" />
        <input id="repetirContrasena" name="repetirContrasena" type="password" placeholder="Repetir Contraseña" [(ngModel)]="repPassWord" />
      </section>
    </section>
    <br />
    <button (click)="handleClickPassword()" type="button" id="passwordButton">Guardar</button>
  </form>

  <form id="kcalForm">
    <section class="input-container">
      <label for="kcalInput">Kcal Consumidas:</label><br />
      <input
        [(ngModel)]="consumedKcals"
        type="number"
        id="kcalInput"
        name="kcal"
        placeholder="Kcal"
        required
      />
      <span>Kcal</span>
    </section>
    <br />
    <button (click)="handleClickKcals()" type="button" id="KcalButton">Guardar</button>
  </form>

  <form class="pesoForm">
    <section class="input-container">
      <label for="pesoInput">Peso:</label><br />
      <input
        [(ngModel)]="newWeight"
        type="number"
        id="pesoInput"
        name="peso"
        placeholder="Peso"
        required
      />
      <span>Kg</span>
    </section>
    <br />
    <button (click)="handleClickWeight()" type="button" id="pesoButton">Guardar</button>
  </form>

  <form class="alturaForm">
    <section class="input-container">
      <label for="alturaInput">Altura:</label><br />
      <input
        [(ngModel)]="newHeight"
        type="number"
        id="alturaInput"
        class="alturaInput"
        name="altura"
        placeholder="Altura"
        required
      />
      <span>cm</span>
    </section>
    <br />
    <button (click)="handleClickHeight()" type="button" id="alturaButton">Guardar</button>
  </form>
