
<section class="purchase-info">
    <section class="pruchase-details">
        <div class="fecha-compra">
            <p><b>Fecha de compra:</b></p>
            <p id="fecha">{{fecha}}</p>
        </div>
        <div class="vendido-por">
            <p><b>Vendido por:</b></p>
            <p id="empresa">fitByte</p>
        </div>
        <div class="numero-pedido">
            <p><b>Nº de pedido:</b></p>
            <p id="numPedido">{{numPedido}}</p>
        </div>
    </section>
    <div class="comprar-boton">
        <p><b>Precio: <span id="precio">{{precio}}€</span></b></p>
        <button (click)="eliminate()">Comprar de nuevo</button>
    </div>
</section>

