
<div class="perfil-page-deseos">
    <div class="perfil-body-deseos">

        <div class="left-zone-deseos">
            <mi-perfil-detalles/>
        </div>

        <div class="right-zone-deseos">
            <div class="right-zone-card-deseos">
                @for (producto of productosArray; track producto.id) {
                    <app-tarjeta-lista-deseos [id]="producto.id" [nombre]="producto.nombre"
                    [precio]="producto.precio" [pathImages] = "'Source/Tienda/' + producto.img"/>
                }
            </div>
        </div>
    </div>

    <app-footer/>
</div>

