<div class="perfil-page-deseos">
    <div class="perfil-body-deseos">

        <div class="left-zone-deseos">
            <mi-perfil-detalles *ngIf="!error; else noUserMessage"></mi-perfil-detalles>
            <ng-template #noUserMessage>
                <h2>Por favor, inicia sesión para ver esta sección.</h2>
            </ng-template>
        </div>

        <div class="right-zone-deseos">
            <div class="right-zone-card-deseos">
                <ng-container *ngFor="let producto of productosArray;">
                    <app-tarjeta-lista-deseos [id]="producto.id" [nombre]="producto.nombre"
                      [precio]="producto.precio" [pathImages]="'Source/Tienda/' + producto.img">
                    </app-tarjeta-lista-deseos>
                  </ng-container>                  
                <ng-template #errorMessage>
                    <h2>Se produjo un error al cargar los datos. Por favor, inténtalo de nuevo más tarde.</h2>
                </ng-template>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
