.perfil-body-deseos{
    display: flex;
}

.left-zone-deseos{
    width: 30%;
    display: flex;
    justify-content: center;
}

.right-zone-deseos{
    width: 70%;
    display: flex;
    justify-content: center;
}

.right-zone-card-deseos{
    border: 1px solid #f7992d;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    height: fit-content;
    border-radius: 1%;
}

@media only screen and (max-width: 1024px) {
  .right-zone-card-deseos{
    width: 85%;
  }

}



@media only screen and (max-width: 430px) {

  .perfil-body-deseos{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .right-zone-card-deseos{
    width: 100%;
  }

  .left-zone-deseos{
    display: none;
  }
}
