<app-header></app-header>
<div class="perfil-page-codigo">
    <div class="perfil-body-codigo">
        <div class="left-zone-codigo">
            <mi-perfil-detalles></mi-perfil-detalles>
        </div>
        <div class="right-zone-codigo">
            <div class="right-zone-card-codigo">
              <app-codigo-promocional *ngIf="isLoggedIn" [promoCode]="usuarioEncontrado.promocode"></app-codigo-promocional>
              <div *ngIf="!isLoggedIn">
                <p>Por favor, inicia sesión para acceder a esta página.</p>
              </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
