body {
    background-color: white;
}


.imcDetalles{
    border: 1px solid black;
}


.imcInfo {
    margin-top: 5%;
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content:space-around;
}

.footer {
    margin-top: 20%;
}


@media only screen and (max-width: 430px) {
    .imcInfo {
        margin-top: 5%;
        display: block;
        align-items: center;
        width: 90%;
        margin-left: 4%;
    }

    .imcInfo .imcDetalles{
        margin-bottom: 10%;
    }



    .formulario-imc{
        margin-top:10%;
    }


    .formulario-imc label,
    .formulario-imc input{
        display: block;
        margin-bottom: 10px;
    }
}