body {
    background-color: white;
}


.imcDetalles{
    border: 5px solid orange;
    border-radius: 20px;
    padding: 20px;
}


.imcInfo {
    margin-top: 5%;
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content:space-around;
}

.footer {
    margin-top: 20%;
}

@media only screen and (max-width: 430px) {
    .imcInfo {
        margin-top: 5%;
        display: block;
        align-items: center;
        width: 90%;
        margin-left: 4%;
    }

    .imcInfo .imcDetalles{
        margin-bottom: 10%;
        width: 95%;
        position: relative;
        left: -3%;
    }

    .imcDetalle{
        min-width: 385px;
        min-height: 115px
    }

    .formulario-imc{
        position: relative;
        margin-top: 20%;
    }

    .formulario-imc label{
        display: block;
        margin-bottom: 10px;
        position: relative;
        left: -3%;
    }

    .formulario-imc input{
        position: relative;
        left: 8%;
    }

    .formulario-imc span{
        position: relative;
        left: 12%;
    }

    .calcular-imc{
        position: relative;
        left: -3%;
    }

    .formCalculadoraIMC button{
        position: relative;
        left: -3%;
    }

}