
.aplicarCodigoPromocional{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

.botonesCesta{
    text-align: center;
    margin-top: 40px;
}
.footer{
    margin-top: 10%;
}