body {
    background-color: white ;
}


.filtroOpciones{
    width: 750px;
    margin-left: 1%;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.filtroTarjeta{
    display: flex;
}

.limpiar{
    position: absolute;
    margin-left: 4%;
    top: 65%;
}

.footer{
    margin-top: 10%;
}
