h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size:xx-large;
}



.productos-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tarjetaProducto1 {
    width: fit-content;
    margin: 50px;
}



.rutinas-completo{
    display: flex;

}

.rutinas-container {
    width: 1350px;
    display: flex;
    overflow-x: scroll;
    margin-left: 2%;
    margin-right: 2%;
}

#left-btn{
    margin-left: 8%;
    display: flex;
    align-items: center; 

}

#right-btn{
    display: flex; 
    align-items: center; 
}



.tarjetaGeneral .tarjeta {
    border: 1px solid #FB7201;
    border-radius: 5px;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: #ffffff;
    
}

.footer{
    margin-top: 10%;
}


.rutinas-container{
    display: flex;
    overflow-x: hidden;
}

.rutinas-container::-webkit-scrollbar {
    width: 12px;
}

.rutinas-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.rutinas-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.rutinas-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}