h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size:xx-large;
}



.productos-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tarjetaProducto1 {
    width: fit-content;
    margin: 50px;
}



.rutinas-completo{
    display: flex;

}

.rutinas-container {
    width: 1350px;
    display: flex;
    overflow-x: scroll;
    margin-left: 2%;
    margin-right: 2%;
}

#left-btn{
    margin-left: 8%;
    display: flex;
    align-items: center; 

}

#right-btn{
    display: flex; 
    align-items: center; 
}



.tarjetaGeneral .tarjeta {
    border: 1px solid #FB7201;
    border-radius: 5px;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: #ffffff;
    
}

.footer{
    margin-top: 10%;
}


.rutinas-container{
    display: flex;
    overflow-x: hidden;
}

.rutinas-container::-webkit-scrollbar {
    width: 12px;
}

.rutinas-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.rutinas-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.rutinas-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media only screen and (max-width: 1024px) {
    h1 {
        font-size: x-large;
        margin-bottom: 4%;
    }


    .tarjetaProducto1 {
        width: 400px;
    }

    #left-btn,
    #right-btn{
        display:none;
    }
    .rutinas-container {
        width: 100%;
        overflow-x: auto;
        margin: 0;
    }

    .scroll-button scroll-right {
        display: none;
    }

    .footer {
        margin-top: 5%;
    }
}


@media only screen and (max-width: 430px) {

    .productos-container {
        text-align: center;
        height: 345px;
        justify-content: center;
        align-items: center;
    }

    .tarjetaProducto1{
        text-align: center;
        scale: 0.8;
        margin:0;
    }

    .tarjetaProducto1 .producto-card{
        display: block;
        text-align: center;
        margin: 0;
        height: 41vh;
    }

    .precio-y-botones{
        position: absolute;
        bottom: 20px;
        right: 44px;
    }

    .producto-card{
        margin: 0;
    }

    .tarjetaProducto1 .producto-card img{
        margin:0;
    }

    
    #left-btn,
    #right-btn{
        display:none;
    }

    .rutinas-container{
        overflow-y: hidden;
    }

    .producto-details h1{
        font-size: 18px !important;
    }
    .producto-details h2{
        font-size: 0.8rem !important;
    }

}
