.tarjetaProductoHistorialCompras .purchase-info{ 
    height: 150px;
}
.miPerfilDetalles{
    width: fit-content;
    margin-left: 5%;
}

.historialCompras-list{
    margin-left: 20%;
    width: 700px;
    border: 0.5px solid rgb(172, 172, 172);
    border-radius: 1%;
}

.footer{
    margin-top: 5%;
}


.detalles-tarjetas{
    display: flex;
    margin-top: 3%;
    height: 1000px;
}

.codigoPromocional{
    margin-left: 20%;
}


.tarjetaProductoListaDeseos{
    margin:1%;
}

.tarjetaProductoListaDeseos button{
    margin-top: 3%;
    width: 180px;
}

.tarjetas{
    justify-content: center;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 900px;
    border: 1px solid black;
    border-radius: 1%;
}

.perfilForm{
    width: 57%;
    text-align: center;
}
