body {
    background-color: white ;
}

.filtroOpciones{
    width: 210px;
}

.productos-container{
    width: fit-content;
    margin-left: 10%;
}

.filtros-container{
    width: fit-content;
    margin-left: 4%;
}

.filtros-container button{
    margin-top: 8%;
}

.filtros-productos{
    display: flex;
}

.ordenarPor{
    position: absolute;
    right: 25%;
}
