h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size:xx-large;
}

.promociones-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tarjetaProducto2 {
    width: fit-content;
    margin: 40px;
}

.novedades-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.promociones-container{
    display: flex;

}
.tarjetaProducto2 .producto-card{
    width: 500px;
}

.tarjetaProducto2 .producto-card .producto-details p{
    width: 200px;
}

.footer{
    margin-top: 10%;
}


@media only screen and (max-width: 1024px) {
    .tarjetaProducto2{
        width: 30%;
    }

    .tarjetaProducto2 .producto-card{
        width: 100%;
        display: block;
        text-align: center;
    }

    .tarjetaProducto2 .producto-card p{
        margin-left: 10%;
    }


    .promociones-container{
        margin-top: 15%;
        margin-bottom: 20%;
    }

    .novedades-container {
        margin-top: 15%;
        margin-bottom: 25%;
    }

}

@media only screen and (max-width: 430px) {
    .promociones-container{
        display: block;
        height: 700px;
        margin-top: 0;
    }

    h1{
        text-align: center;
        margin-top: 8%;
        font-size:xx-large;
    }

    .tarjetaProducto2{
        width: fit-content;
        height: 26%;
        text-align: center;
        margin-bottom: 80px;
    }

    .tarjetaProducto2 .producto-card {
        width: 100%;
        height: 120%;
        display: flex;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .producto-card {
        width: 120%;
        height: 120%;
        display: flex;
        text-align: center;
        margin:0;
        padding: 0;
    }

    .producto-card img {
        width: 150px;
        height: 150px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 10px;
        margin-left: 10px;
    }

    .producto-details {
        height: 100%;
    }

    .tarjetaProducto2 .producto-card .producto-details {
        text-align: center;
        position: relative;
        left: -3%;
        top: 3%;
    }

    .tarjetaProducto2 .producto-card .producto-details p {
        display: none;
    }

    .tarjetaProducto2 .producto-card .producto-details .precio-y-botones {
        margin-right: 10%;
    }


    .novedades-container {
        display: block;
        height: 600px;
        margin-top: 0;
    }

    .tarjetaProducto2 .producto-card .producto-details h1{
        font-size: 18px;
    }

    .tarjetaProducto2 .producto-card .producto-details h2{
        font-size: 16px;
    }

    .novedades-container .producto-card .producto-details h1{
        font-size: 16px;
    }

    .novedades-container .producto-card .producto-details h2{
        font-size: 14px;
    }

    .novedades-container .producto-card .precio-y-botones .precio{
        font-size: 16px;
    }

    .novedades-container .tarjetaProducto2 .producto-card {
        width: 100%;
        height: 136%;
        display: flex;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .novedades-container .producto-card .precio-y-botones
    .eliminar-btn{
        position: relative;
        margin-top: 5%;
    }

}
