h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size:xx-large;
}

.promociones-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tarjetaProducto2 {
    width: fit-content;
    margin: 40px;
}

.novedades-container {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.promociones-container{
    display: flex;

}
.tarjetaProducto2 .producto-card{
    width: 500px;
}

.tarjetaProducto2 .producto-card .producto-details p{
    width: 200px;
}

.footer{
    margin-top: 10%;
}



@media only screen and (max-width: 1024px) {
    .tarjetaProducto2{
        width: 30%;
    }

    .tarjetaProducto2 .producto-card{
        width: 100%;
        display: block;
        text-align: center;
    }

    .tarjetaProducto2 .producto-card p{
        margin-left: 10%;
    }


    .promociones-container{
        margin-top: 15%;
        margin-bottom: 20%;
    }

    .novedades-container {
        margin-top: 15%;
        margin-bottom: 25%;
    }

}

@media only screen and (max-width: 430px) {
    .promociones-container{
        display: block;
        height: 600px;
        margin-top: 15%;
        margin-bottom: 0%;
    }
    .tarjetaProducto2{
        width: fit-content;
        height: 25%;
        text-align: center;
    }

    .tarjetaProducto2 .producto-card{
        width: 120%;
        height: 100%;
        display: flex;
        text-align: center;
        margin:0;
        padding: 0;

    }

    .tarjetaProducto2 .producto-card .producto-details {
        text-align: center;
    }

    .tarjetaProducto2 .producto-card .producto-details p {
        display: none;
    }

    .tarjetaProducto2 .producto-card .producto-details .precio-y-botones {
        margin-right: 10%;
    }


    .novedades-container {
        display: block;
        height: 600px;
        margin-top: 15%;
        margin-bottom: 0%;
    }

}



