body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.codigo-promocional {
    width: 485px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.codigo-promocional input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    flex-grow: 1;
    margin-right: 10px;
    box-sizing: border-box;
}

.codigo-promocional button {
    background-color: #FB7201;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    width: calc(100% - 50px);
    position: relative;
}

.codigo-promocional button:active {
    background-color: #D15800;
}

.input-button-container {
    display: flex;
    align-items: center;
}