#alturaForm {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

#alturaForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#alturaForm .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#alturaForm input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#alturaForm span {
    font-size: 16px;
    margin-left: 10px;
}

#alturaForm button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #FB7201;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#alturaForm button[type="submit"]:active {
    background-color: #D15800;
}
