body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.descripcion{
    position: relative;
    width: 800px;
    height: 650px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-size: 20px;
    text-align: justify;
}

.descripcion .imagen-texto{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.descripcion button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
    background-color: #FB7201;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.descripcion button:active{
    background-color: #D15800;
}

.descripcion .imagen-texto #imagen{
    margin-right: 50px;
}
