.formulario-alimentos{
  width: fit-content;
  margin-right: 10%;
  height: fit-content;
  margin-top: 12%;
}

.formulario-alimentos button{
  margin-right: 15%;
}

.tabla-alimentos {
  text-align: center;
  width: fit-content;
}

.tabla-alimentos ul {
  height: 700px;
  border: 1px solid rgb(233, 120, 28);
}

ul {
  padding: 0;
}

li,
span {
  padding: 10px;
  list-style: none;
}

.tabla-alimentos button {
  scale: 80%;
}

input {
  width: 120px;
  height: 30px;
}

form {
  text-align: center;
  margin: 20px;
}

.input-container span {
  padding: 0;
}

.input-container{
  margin-top: 10px;
}

.kcalTotales{
  margin-top: 7%;
}

.alimentos{
  width: 150px;
  height: 30px;
}