.form-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.datos-container {
margin-left: 15%;
width: 50%;
border: 1px solid #fb7201;
border-radius: 5px;
padding: 25px;
height: 100%;
}

.datos-container input {
width: 50%;
height: 25px;
font-size: 20px;
}

.statsForm {
width: fit-content;
margin-left: 23%;
}

.perfilForm Form {
margin-top: 25px;
}

.footer {
overflow-x: hidden;
}

.perfilForm {
margin: 0 auto;
}



input[type="password"] {
margin-right: 10px;
height: 25px;
width:fit-content;
}





.password-container {
  display:block;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.password-container input{
  margin: 1%;
}

.passwordForm button{
  margin-top: 10%;
}
}


@media only screen and (max-width: 430px) {
  .datos-container{
    width: 360px;
    text-align: center;
  }

  .datos-container .statsForm {
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }

  .perfilForm{
    width: 100%;
  }

}

