body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 6%;
    width: 300px;
    height: 350px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../../Source/logo.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.buttons{
    margin-top: 5%;
}