
.container {
text-align: center;
}

.password-container {
display: flex;
flex-direction: row; /* Alinea los elementos en fila */
align-items: center;
justify-content: center;
height: 60px;
}

input[type="password"] {
margin-right: 10px; /* Espacio entre los inputs */
}

button {
width: 500px;
justify-content: center;
}
