body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imcDetalle{
    background: white;
    width: 460px;
    height: 180px;
    text-align: justify;
}

.imcDetalle label{
    font-weight: normal;    
}
