<div class="centered-container">
    <img class="logo1" src="../Source/logo.jpg" />
    <h1> Inicio de Sesión </h1>
    <div id="messagePopup" style="display: none;"></div>
    <form class="input-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-email-mensaje">
            <input formControlName="email" placeholder="Correo Electrónico">
            @if (form.controls['email'].invalid && (enviado || form.controls['email'].touched || form.controls['email'].dirty)){
                @if (form.controls['email'].errors?.['required']) {
                    <span class="error-email">Debe rellenar este campo</span>
                }
                @else if (form.controls['email'].errors?.['email']){
                    <span class="error-email">Debe introducir una dirección de correo válida, ejemplo: {{"nombre@dominio.com"}}</span>
                }
            }
        </div>
        <div class="input-passwd-mensaje">
            <input type="password" formControlName="password" placeholder="Contraseña">
            @if (form.controls['password'].invalid && (enviado || form.controls['password'].touched || form.controls['password'].dirty)){
                @if (form.controls['password'].errors?.['required']) {
                    <span class="error-passwd">Debe rellenar este campo</span>
                }
            }
        </div>
        <div class="buttons">
            <button type="button" (click)="volverClick()">Volver</button>
            <button type="button" (click)="onSubmit()">Iniciar Sesión</button>
        </div>
    </form>
</div>
