<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <link rel="stylesheet" href="../Assets/Styles/form.css" />
    <link rel="stylesheet" href="../Assets/Styles/components.css" />
</head>
<body>

<div class="centered-container">
    <img class="logo" src="img.jpg" alt="Logo" />

    <form>
        <input type="email" name="email" placeholder="Correo Electrónico" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <div class="buttons">
            <button type="button">Volver</button>
            <button type="submit">Iniciar Sesión</button>
        </div>
    </form>

</div>

</body>
</html>
