.imcDetalle{
    background: white;
    width: 100%;
    height: 15%;
    text-align: center;
}

.imcDetalle label{
    font-weight: normal;
}

@media only screen and (max-width: 430px) {
    .imcDetalle{
        background: white;
        width: auto;
        height: auto;
        text-align: justify;
    }

    .imcDetalle label{
        font-size: 14px;
        position: relative;
        left: -2%;
    }

    .imcDetalle label strong{
        font-size: 14px;
    }
}
