<div class="centered-container">
  <img class="logo1" src="../Source/logo.jpg" />
  <h1>Registro de Usuario</h1>
  <div id="errorMessage" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="username" placeholder="Nombre de usuario"><br>
    <div *ngIf="form.get('username')?.errors?.['required'] && form.get('username')?.touched" class="error-message">Debe rellenar este campo</div>
    <input type="email" formControlName="email" placeholder="Correo electrónico"><br>
    <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched" class="error-message">Debe rellenar este campo</div>
    <div *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched" class="error-message">Debe introducir una dirección de correo válida, ejemplo: {{"nombre@dominio.com"}}</div>
    <input type="password" formControlName="password" placeholder="Contraseña"><br>
    <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched" class="error-message">Debe rellenar este campo</div>
    <div *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched" class="error-message">La contraseña debe tener al menos 5 caracteres</div>
    <input type="password" formControlName="password2" placeholder="Repetir contraseña"><br>
    <div *ngIf="form.get('password2')?.errors?.['required'] && form.get('password2')?.touched" class="error-message">Debe rellenar este campo</div>
    <div *ngIf="form.hasError('passwordMismatch') && (form.get('password')?.touched || form.get('password2')?.touched)" class="error-message">Las contraseñas no coinciden.</div>
    <div class="buttons">
      <button type="button" (click)="volverClick()">Volver</button>
      <button type="submit">Registrarse</button>
    </div>
  </form>
</div>

