<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente statsCard</title>
</head>
<body>

<section class="stats-card">
    <img src="img.jpg" alt="Imagen circular">
    <section>
        <p>{{Nickname}}</p>
        <section>
            <label>Kcal</label><br>
            <span>Últimas Kcal Consumidas</span><br>
            <label>IMC</label><br>
            <span>IMC</span>
        </section>
    </section>
</section>

</body>
</html>
