<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IMC recomendados y el resultado del cálculo</title>
    </head>
        <section class="imcDetalle">
            @if (resultadoIMC === 0){
                <label><br><br>Introduzca su <strong>peso y altura</strong> en los campos inferiores para descubrir su <strong>índice de masa corporal</strong> y conocer su situación físca actual.</label>
            }
            @else if(resultadoIMC < min){
                <label><strong>Su IMC es: {{ imc }}</strong>, actualmente usted se encuentra en peso por debajo de lo normal.</label>
                <label><br>Sigua nuestras recomendaciones de rutinas y dietas para mejorar su situación física.</label>
                <label>Le recomendamos que para subir de peso siga nuestra rutina de Hipertrofia, Resistencia y peso corporal o en su defecto la rutina de Entrenamiento en casa.</label>
                <label><br>En cuanto a las dietas para aumentar su peso le recomendamos la dieta rica en Grasa y Carbohidratos y la dieta de la Zona.</label>
            }
            @else if(resultadoIMC > min && resultadoIMC < mean){
                <label><strong>Su IMC es: {{ imc }}</strong>, actualmente usted se encuentra en un peso normal. <br> Sigua nuestras recomendaciones de rutinas y dietas para mantenerse en su condición actual.</label>
                <label> Le recomendamos que para mantenga su peso siga nuestra rutina de Cardio, Peso corporal y la rutina HIIT ya que son entrenamientos de una intensidad moderada.<br> En cuanto a las dietas para mantener su peso, le recomendamos la dieta rica en Proteínas, la dieta DASH y la dieta rica en Fibras.</label>
            }
            @else{
                <label><strong>Su IMC es: {{ imc }}</strong>, actualmente usted se encuentra en peso por encima de lo normal. <br> Sigua nuestras recomendaciones de rutinas y dietas para mejorar su situación física.</label>
                <label>Le recomendamos que para reduzca su peso siga nuestra rutina de Alta Intensidad y Baja Duración, Potencia y Plyometrics ya que son entrenamientos de potencia y alta intensidad.<br> En cuanto a las dietas para reducir su peso, le recomendamos la dieta rica en Avena, la dieta Cetogénica y la dieta Flexitariana.</label>
            }
        </section>
</html>