<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IMC recomendados y el resultado del cálculo</title>
    </head>
    <body>
        <section class="imcDetalle">
            <label><br><br>Introduzca su <strong>peso y altura</strong> en los campos inferiores para descubrir su <strong>índice de masa corporal</strong> y conocer su situación físca actual.</label>
        </section>
    </body>
</html>