<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
    <link rel="stylesheet" href="../Assets/Styles/TarjetaProductoListaDeseos.css">
    <title>Tarjeta de Producto</title>
</head>
<body>
    <div class="product-card">
        <img src="../Source/default-img.png" class="producto-img">
        <p class="product-name">Producto</p>
        <p class="product-price">XX.XX€</p>
        <p id="id"></p>
        <button class="button" id="add-btn">Añadir a la cesta</button>
        <button class="button" id="delete-btn">Eliminar</button>
    </div>
</body>
</html>