.formulario-imc-container {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 20px;
}

.formulario-imc{
    text-align: center;
}


@media only screen and (max-width: 430px) {

  .formulario-imc{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }

  .formulario-imc-container span{
    margin-left: 3%;
  }

  .formulario-imc-container input{
    margin-left: 16%;
  }

  .calculoIMC{
    justify-content: center;
    width: 36%;
    margin-left: 32%;
  }
}
