button {
    height: 10px;
    font-size: 10px;
    line-height: 5px;

}
button:first-child {
    margin-right: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('img.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}