body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.pruchase-details{
    display: flex;
}

.purchase-info {
    width: 600px;
  	height: 250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.purchase-info div {
    width: 180px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.comprar-boton {
    position: relative;
    left: 390px;
    margin-top: 15px;
}

.comprar-boton button{
    height: fit-content;
    width: 190px;
}

.comprar-boton span{
    font-size: 1.2rem;
}