body {
    background-color: white ;
  }
  
  
  .filtro-precios{
    margin-left: 1%;
  }
  
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
  }
  
  .filtroTarjeta{
    display: flex;
  }
  
  .limpiar{
    position: absolute;
    margin-left: 4%;
    margin-top: 20%;
  }
  
  .aplicar{
    position: absolute;
    margin-left: 4%;
    margin-top: 17%;
  }
  
  .container footer-content{
    margin-top: 10%;
  }
  
  
  
  @media only screen and (max-width: 1024px) {
    .filtro-precios {
      max-width: 100%;
      margin-right: 10%;
    }
  
    .limpiar {
      position: absolute;
      margin-left: 2%;
      margin-top: 35%;
    }
  
    .aplicar {
      position: absolute;
      margin-left: 2%;
      margin-top: 30%;
    }
  
    .filtro-precios .filtro {
      width: 100%;
      margin-right: 10%;
    }
  }
  
  @media only screen and (max-width: 430px) {
  
  
    .filtro-precios {
      display: none;
    }
  
    .limpiar {
      display: none;
    }
  
    .aplicar{
      display: none;
    }
  
    .filtroTarjeta {
      display: flex;
    }
  
    .tarjetas{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 2px;
      justify-content: center;
    }
  
    .tarjetas .tarjetaGeneral .tarjeta{
      width: 172px;
      height: 250px;
      text-align: center;
    }
  
    .tarjetas .tarjetaGeneral .tarjeta p{
      width: 89%;
    }
  
  }
  