.descripcion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 70%;
  max-width: 900px;
  height: 70%;
  max-height: 500px;
  background-color: #fff;
  padding: 20px;
  z-index: 9999;
  overflow-y: auto;
}

.descripcion img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.descripcion p {
  margin-bottom: 15px;
  font-size: 20px;
  padding: 15px;
}

.descripcion .imagen-texto{
  display: flex;
  align-items: center;
}

.descripcion .imagen-texto #imagen{
  margin-right: 50px;
}

.descripcion button{
  margin-top: 20px;
  margin-left: 700px;
}

@media only screen and (max-width: 1024px){
  .descripcion button{
    margin-left: 600px;
  }
}
