
<div class="contenedor">
  <div class="slider-contenedor" #contenedorSlider>
    <section class="slider-container" #contenedorImgSlider>
      <img [src]="linkImage1" alt="" />
    </section>
    <section class="slider-container" #contenedorImgSlider>
      <img [src]="linkImage2" alt="" />
    </section>
    <section class="slider-container" #contenedorImgSlider>
      <img [src]="linkImage3" alt="" />
    </section>
  </div>
</div>
<script src="../Assets/Scripts/slider.js"></script>
