<app-header/>
<slider/>
<h1>Productos</h1>
<section class="productosContainerParentIndex">
    <div class="productsContainerChildIndex">
        @for (producto of productosArray.slice(0, 2); track producto.id) {
            <tarjeta-producto [nombre]="producto.nombre" [id]="producto.id" [nombreDetallado]="producto.nombre_detallado"
            [descripcion]="producto.descripcion"/>
        }
    </div>
</section>

<h1>Rutinas</h1>
<section class="rutinasContainerParentIndex">
    <div class="rutinasContainerChildIndex">
        @for (rutina of rutinasArray.slice(0, 6); track rutina.id) {
            <tarjeta-general [nombre]="rutina.nombre" [id]="rutina.id"/>
        }
    </div>
</section>

<app-footer/>


