header {
  background: #fff;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-btnlogin{
  width: 75%;
  text-align: end;
}

.up-header-mobile-input{
  display: none;
}

.logo {
  position: absolute;
  width: 50%;
  right: 110%;
}
.footer-ico{
  width: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.logo2 {
  position: absolute;
  width: 40%;
  right: 105%;
}

.logo_mobile {
  display: none;
}

.logo2_mobile {
  display: none;
}

nav {
  margin-top: 1%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
}

nav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FB7201;
  position: absolute;
  bottom: 0;
  right: 10px;
  visibility: visible;
  opacity: 1;
}

#calc-menu:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: 10px;
}

.up-header {
  flex-direction: row;
  display: flex;
}

.login-btn {
  margin-right: 10px;
}

.search-input {
  margin-right: 5px;
}

.up-header input {
  height: 40px;
  width: 500px;
}

.submit {
  margin-right: 20px;
}


nav ul li ul {
  width: 160px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

nav ul li ul li {
  padding: 10px;
}

nav ul li ul li a {
  font-size: 16px;
  text-align: center;
}

nav ul li ul li:hover {
  background-color: #FB7201;
  color: #fff;
}

.dropdown-toggle {
  background-color: transparent;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}
.dropdown{
  margin-left: 70%;
}

.dropdown-toggle:active {
  background-color: #f2f2f2;
}

.dropdown-toggle:hover {
  background-color: #f2f2f2;
}

.dropdown-toggle {
  width: 200px;
}


.dropdown-toggle i {
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #333;
  padding: 12px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.dropdown-content a i {
  margin-right: 10px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  transition: transform 0.4s ease;
}

/*.sidebar a:hover{
    background-color: #f0f0f0;
}*/

.prueba .menu-button {
  display: none;
}

.dropdown-mobile {
  display: none;
}

.bocadillo-movil {
  display: none;
}

.right-sidebar {
  position: fixed;
  top: 0;
  /*right: -25%;*/
  height: 100vh;
  min-width: 550px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /*transition: left 0.3s ease-in-out;*/
  display: none;
}

.up-header-mobile {
  display: none;
}

.up-header-mobile-input {
  display: none;
}

.logo3 {
  width: 7em;
  position: absolute;
  top: 0;
  right: 130%;
  user-select: none;
}

.logo_mobile_2{
  width: 3em;
  position: absolute;
  top: 20%;
  right: 110%;
  user-select: none;
}

@media only screen and (max-width: 430px) {
  .login-btn {
    margin-right: 0;
  }

  .register-btn{
    margin-top: 10%;
    margin-left: 2%;
  }

  header{
    flex-direction: unset;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 10px;
  }

  .hideOnMobile, #hide-up-header {
    display: none;
  }

  .up-header-mobile {
    margin-top: 5%;
    text-align: center;
    display: flex;
    position: relative;
    left: -17%;
  }
  .up-header-mobile button{
    width: fit-content!important;
    scale: 0.9!important;
    font-size: 0.6rem;
  }

  .up-header-mobile input {
    height: 40px;
    width: 125px;
  }

  .up-header-mobile .login-btn,
  .up-header-mobile .register-btn {
    width: 128px;
    height: 45px;
  }

  .up-header-mobile .submit {
    /*z-index: 9999;*/
    height: 43px;
    width: 55px;
    margin-right: 0;
  }

  .prueba .menu-button, .dropdown-mobile {
    display: block;
  }

  .bocadillo-movil {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 50%;
    z-index: 9999;
  }

  #bocadillo-menu {
    margin-top: 22%;
    color: black;
  }

  .circle {
    border-radius: 100%;
    background-color: #FB7201;
    width: 2em;
    height: 2em;
    text-align: center;
  }

  .sidebar {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
  }

  .sidebar .up-header {
    justify-content: center;
  }

  .sidebar .up-header input {
    width: 104px;
    height: 40px;
  }

  .sidebar .container-dropdown {
    text-align: center;
    margin-top: 8%;
  }

  .container-dropdown .dropdown-content {
    left: 28%;
  }

  .right-sidebar {
    width: 125%;
    height: 100%;
    position: fixed;
    left: 0;
  }

  .right-sidebar .dropdown {
    position: fixed;
    top: 50%;
    left: 30%;
  }

  .right-sidebar .close-icon {
    position: fixed;
    left: 20%;
    top: 51%;
  }

  .prueba .menu-button {
    position: relative;
    top: 10px;
    right: 395px;
    padding: 0;
    scale: 1.2;
  }

  .prueba .menu-button a:hover::after{
    background-color: #fff!important;
    width: 0!important;
  }

  .prueba .menu-button a{
    color: black;
  }

  .logo_mobile {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 10%;
    display: block;
  }

  .logo2{
    display: none;
  }

  .logo2_mobile {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 10%;
    display: block;
  }

  .logo3 {
    width: 5rem;
    height: 5rem;
    position: relative;
    right: -65%;
    padding: 0;
  }

  .logo3-buscar{
    width: 5rem;
    height: 5rem;
    position: relative;
    right: -95%;
    padding: 0;
    z-index: 9999;
  }

  .up-header-mobile-input{
    position: relative;
    left: 14%;
    display: flex;
  }

  .up-header-mobile-input input{
    height: 40px;
    width: 100px;
  }

  .up-header-mobile .botones-login-register{
    margin-left: -25%;
  }

}


@media only screen and (max-width: 1024px) {
  .logo{
    display: none;
  }

  .logo2 {
    display: none;
  }

  .dropdown{
    margin-left: 80%;
  }

}
