<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<header>
  @if (router.url === '/tienda' || router.url === '/tiendaBuscar') {
    <section class="up-header-mobile-input">
      <input type="text" class="search-input" placeholder="Buscar..." />
      <button class="submit" routerLink="/tiendaBuscar" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-search fa-sm"></i></button>
    </section>
  }

  <nav>
    <ul class="sidebar">
      <li><img width="25" height="25" id="hideSidebar" (click)="hideSidebar()" src="https://img.icons8.com/sf-ultralight/25/delete-sign.png" alt="delete-sign"></li>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-home"></i> Inicio</a></li>
      <li><a routerLink="/tienda" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-store"></i> Tienda</a></li>
      <li>
        <a><i class="fas fa-calculator"></i> Calculadoras</a>
        <ul>
          <li><a routerLink="/imc" routerLinkActive="active" ariaCurrentWhenActive="page">Calculadora IMC</a></li>
          <li><a routerLink="/kcal" routerLinkActive="active" ariaCurrentWhenActive="page">Calculadora Kcal</a></li>
        </ul>
      </li>
      <li><a routerLink="/dietas" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-utensils"></i> Dietas</a></li>
      <li><a routerLink="/rutinas" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-dumbbell"></i> Rutinas</a></li>
    </ul>
  </nav>

  @if (LoggedIn) {
    <div class="dropdown">
      <button class="dropdown-toggle">Mi Cuenta<i class="fas fa-bars"></i></button>
      <div class="dropdown-content">
        <a routerLink="perfil/mis-datos" routerLinkActive="active" ><i class="fas fa-user"></i>Perfil</a>
        <a id="cesta-btn-movil" (click)="toggleMostrarCesta()"><i class="fas fa-shopping-basket"></i>Cesta</a>
        <a (click)="toggleMostrarPerfil()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
      </div>
    </div>
  } @else{
    <div class="container-btnlogin">
      <button class="login-btn" id="showLogin" (click)="toggleMostrarLogin()">Login</button>
      <button class="register-btn" id="showRegister" (click)="toggleMostrarRegister()">Register <i class="fas fa-chevron-right fa-sm" style="color:white;"></i></button>
    </div>
  }

  <nav>
    <ul>
      @if (router.url === '/tienda' || router.url === '/tiendaBuscar') {
        <section class="up-header" id="hide-up-header">
          <input type="text" class="search-input" placeholder="Buscar..." />
          <button class="submit" routerLink="/tiendaBuscar" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-search fa-sm"></i></button>
        </section>
      }
      <li class="hideOnMobile"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-home"></i> Inicio</a></li>
      <li class="hideOnMobile"><a routerLink="/tienda" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-store"></i> Tienda</a></li>
      <li class="hideOnMobile">
        <a><i class="fas fa-calculator" id="calc-menu"></i> Calculadoras</a>
        <ul class="submenu">
          <li><a routerLink="/imc" routerLinkActive="active" ariaCurrentWhenActive="page">Calculadora IMC</a></li>
          <li><a routerLink="/kcal" routerLinkActive="active" ariaCurrentWhenActive="page">Calculadora Kcal</a></li>
        </ul>
      </li>
      <li class="hideOnMobile"><a routerLink="/dietas" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-utensils"></i> Dietas</a></li>
      <li class="hideOnMobile"><a routerLink="/rutinas" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-dumbbell"></i> Rutinas</a></li>

    </ul>
  </nav>
  <div class="prueba">
    <li class="menu-button"><a  class="fas fa-bars" id="showSidebar" (click)="showSidebar()"></a></li>
  </div>
</header>
<div id="miDiv"></div>
@if (mostrarLogin) {
  <app-iniciar-sesion  (volver)="toggleMostrarLogin()"></app-iniciar-sesion>
}
@else if (mostrarRegister) {
  <app-registrar-usuario  (volver)="toggleMostrarRegister()"></app-registrar-usuario>
}
@else if(mostrarCesta){
  <app-cesta (volver)="toggleMostrarCesta()"> </app-cesta>
}
