<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componente alturaForm</title>
        <link rel="stylesheet" href="../estilos/aturaForm.css">
    </head>
    <body>
        <form id="alturaForm">
            <label for="alturaInput">Altura:</label><br>
            <section class="input-container"> <!-- Agregar esta etiqueta -->
                <input type="number" id="alturaInput" name="altura" placeholder="Altura" required>
                <span>cm</span>
            </section>
            <br>
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>
