<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componente alturaForm</title>
        <link rel="stylesheet" href="../Assets/Styles/components.css">
        <link rel="stylesheet" href="../Assets/Styles/form.css">
    </head>
    <body>
        <form class="alturaForm">
            <section class="input-container">
                <label for="alturaInput">Altura:</label><br>
                <input type="number" class="alturaInput" name="altura" placeholder="Altura" required>
                <span>cm</span>
            </section>
            <br>
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>
