<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Templates/Assets/Styles/components.css">
        <title>Componente de botones</title>
    </head>
    <body>
        <section class="botones-container">
            <button>Vaciar cesta</button>
            <button id="boton-finalizarCompra">Finalizar compra</button>
        </section>
    </body>
</html>
