<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente de Descripción</title>
</head>
<body>

<article class="descripcion">
    <img src="imagen.jpg" alt="Descripción">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet libero at leo viverra, vel eleifend est sagittis. Donec consequat ultricies velit, non placerat lectus blandit sed.</p>
</article>

</body>
</html>
