<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente de Filtro</title>
</head>
<body>

<section class="filtro">
    <h2>Filtrar 1:</h2>
    <label>
        <input type="checkbox" name="opcion1"> Opción 1
    </label><br>
    <label>
        <input type="checkbox" name="opcion2"> Opción 2
    </label><br>
    <label>
        <input type="checkbox" name="opcion3"> Opción 3
    </label>
</section>

</body>
</html>
