<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Assets/Styles/filtroOpciones.css">
        <title>Componente de Filtro</title>
    </head>
    <body>
        <section class="filtro">
            <h2>Filtros</h2>
            <label>
                <input type="checkbox" name="opcion1"> Opción 
            </label><br>
            <label>
                <input type="checkbox" name="opcion2"> Opción 
            </label><br>
            <label>
                <input type="checkbox" name="opcion3"> Opción 
            </label>
        </section>
    </body>
</html>
