<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Templates/Assets/Styles/filtroPrecio.css">
  <title>Price Range Slider</title>
</head>
<body>
  <div class="card">
    <h4>Rango de precio:</h4>

    <div class="range-slider">
      <div class="range-fill"></div>

      <input
        type="range"
        class="min-price"
        value="0"
        min="0"
        max="1000"
        step="5"
      />
      <input
        type="range"
        class="max-price"
        value="1000"
        min="0"
        max="1000"
        step="5"
      />
      
      <div id="min-value-display" class="value-display"></div>
      <div id="max-value-display" class="value-display"></div>
    </div>
  </div>

  <script src="/Templates/Assets/Scripts/filtroPrecio.js"></script>
</body>
</html>