<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Selector de Precio</title>
        <link rel="stylesheet" href="../Assets/Styles/filtroPrecio.css">
    </head>
    <body>
        <section class="filtro-precio">
            <h2>Filtar Por Precio</h2>
            <div id="precio-slider">
                <input type="range">
            </div>
            <span>
                De: 0
                <span id="precio-minimo">
                    €
                </span>
            </span>
            <span>
                A: 1000
                <span id="precio-maximo">
                    €
                </span>
            </span>
        </section>
    </body>
</html>
