<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Template</title>
    <link rel="stylesheet" href="../Assets/Styles/footer.css" />
  </head>
  <body>
    <footer>
      <div class="container footer-content">
        <div class="column-left">
          <ul>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="footer-main">
          <h1>fitByte</h1>
          <div class="decorative-line"></div>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/FitByte"><img src="/PWM.42.6-main/Templates/Source/social-networks/facebook.png" alt="Facebook" class="footer-ico"/></a></li>
            <li><a href="https://twitter.com/FitByte"><img src="/PWM.42.6-main/Templates/Source/social-networks/twitter.png" alt="Twitter" class="footer-ico"/></a></li>
            <li><a href="https://www.instagram.com/FitByte"><img src="/PWM.42.6-main/Templates/Source/social-networks/instagram.png" alt="Instagram" class="footer-ico"/></a></li>
            <li><a href="https://www.tiktok.com/FitByte"><img src="/PWM.42.6-main/Templates/Source/social-networks/tik-tok.png" alt="TikTok" class="footer-ico"/></a></li>
          </ul>
        </div>
        <div class="column-right">
          <ul>
            <li><a href="/quienes-somos">Quiénes somos</a></li>
            <li><a href="/atencion-cliente">Atención al cliente</a></li>
            <li><a href="/terminos-condiciones">Términos y condiciones</a></li>
            <li><a href="/politica-privacidad">Política de privacidad</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
