<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Template</title>
    <link rel="stylesheet" href="../Assets/Styles/footer.css" />
  </head>
  <body>
    <div class="container footer-content">
      <div class="column-left">
        <p>Lorem</p>
        <p>ipsum</p>
        <p>dolor</p>
        <p>sit amet</p>
      </div>
      <div class="footer-main">
        <h1>fitByte</h1>
        <div class="decorative-line"></div>
        <ul class="social-icons">
          <li><img src="facebook-icon.png" alt="Facebook" /></li>
          <li><img src="twitter-icon.png" alt="X" /></li>
          <li><img src="instagram-icon.png" alt="Instagram" /></li>
          <li><img src="TikTok-icon.png" alt="TikTok" /></li>
        </ul>
      </div>
      <div class="column-right">
        <p>Lorem</p>
        <p>ipsum</p>
        <p>dolor</p>
        <p>sit amet</p>
      </div>
    </div>
  </body>
</html>
