<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Componente de Cambio de Contraseña</title>
  <link rel="stylesheet" href="../Assets/Styles/formPassword.css">
  <link rel="stylesheet" href="../Assets/Styles/components.css">
</head>
<body>
    <section class="container">
        <section class="password-container">
            <input type="password" placeholder="Antigua Contraseña">
            <input type="password" placeholder="Nueva Contraseña">
            <input type="password" placeholder="Repetir Contraseña">
        </section>

        <button>Guardar</button>
        
    </section>


  
</body>
</html>
