<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente de Selección de Alimentos</title>
</head>
<body>

<form class="formulario-alimentos">
    <select id="alimentos" name="alimentos">
        <option value="alimento1">Alimento1</option>
        <option value="alimento2">Alimento2</option>
    </select>
    <br>

    <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad" required>
    <span>gr</span>

    <br>
    <button type="submit">Añadir</button>
</form>

</body>
</html>
