<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente de Formulario</title>
    <link rel="stylesheet" href="/Templates/Assets/Styles/components.css" />
    <link rel="stylesheet" href="/Templates/Assets/Styles/formCalculadoraIMC.css" />
  </head>
  <body>
    <form class="formulario-imc">
      <label for="peso">Peso</label>
      <div class="formulario-imc-container">
        <input type="number" id="peso" name="peso" step="0.01" required />
        <span>Kg</span>
      </div>
      <label for="peso">Altura</label>
      <div class="formulario-imc-container">
        <input type="number" id="altura" name="altura" step="0.01" required />
        <span>cm</span>
      </div>
      <br />
      <button type="submit">Calcular IMC</button>
    </form>
  </body>
</html>
