<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente de Selección de Alimentos</title>
    <link rel="stylesheet" href="../Assets/Styles/formCalculadoraKcal.css" />
    <link rel="stylesheet" href="../Assets/Styles/components.css" />
  </head>
  <body>
    <form class="formulario-alimentos">
      <select id="alimentos" name="alimentos">
        <option value="alimento1">Alimento1</option>
        <option value="alimento2">Alimento2</option>
      </select>
      <br />

      <div class="input-container">
        <input
          type="number"
          id="cantidad"
          name="cantidad"
          placeholder="Cantidad"
          required
        />
        <span>gr</span>
      </div>

      <br />
      <button type="submit">Añadir</button>
    </form>

    <div class="tabla-alimentos">
      <ul>
        <li>
          <span>Lorem Ipsum</span>
          <span>XXX Kcal</span>
          <button>Eliminar</button>
        </li>
        <li>
          <span>Lorem Ipsum</span>
          <span>XXX Kcal</span>
          <button>Eliminar</button>
        </li>
        <li>
          <span>Lorem Ipsum</span>
          <span>XXX Kcal</span>
          <button>Eliminar</button>
        </li>
        <li>
          <span>Lorem Ipsum</span>
          <span>XXX Kcal</span>
          <button>Eliminar</button>
        </li>
      </ul>
      <button>Calcular Kcal totales</button>
    </div>
  </body>
</html>
