<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IMC recomendados y el resultado del cálculo</title>
        <link rel="stylesheet" href="../Assets/Styles/components.css">
        <link rel="stylesheet" href="../Assets/Styles/imcDetalles.css">
    </head>
    <body>
        <section class="imcDetalle">
            <label>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quas quo voluptatibus? Cum, magni. Laudantium in cum distinctio, accusantium at suscipit unde ducimus repudiandae aut harum eum cumque sit aliquam?</label>
        </section>
    </body>
</html>