<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Templates/Assets/Styles/components.css">
    <link rel="stylesheet" href="/Templates/Assets/Styles/form.css">
    <title>Componente kcalForm</title>
  </head>
  <body>
    <form id="kcalForm">
      <section class="input-container">
        <label for="kcalInput">Kcal Consumidas:</label><br />
        <input type="number" id="kcalInput" name="kcal" placeholder="Kcal" required />
        <span>Kcal</span>
      </section>
      <br />
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
