<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Assets/Styles/miPerfilDetalles.css">
        <title>miPerfilDetalles</title>
    </head>
    <body>
        <section id="detalles">
            <button>Mis Datos</button>
            <button>Historial de Compras</button>
            <button>Lista de Deseos</button>
            <button>Mi Código</button>
            <button>Cerrar Sesión</button>
        </section>
    </body>
</html>