<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Assets/Styles/miPerfilDetalles.css">
        <title>miPerfilDetalles</title>
    </head>
    <body>
        <section id="detalles">
            <button onclick="window.location.href = '../Pages/perfilMisDatos.html'">Mis Datos</button>
            <button onclick="window.location.href = '../Pages/perfilHistorialDeCompras.html'">Historial de Compras</button>
            <button onclick="window.location.href = '../Pages/perfilListaDeDeseos.html'">Lista de Deseos</button>
            <button onclick="window.location.href = '../Pages/perfilCodigoPromocional.html'">Mi Código</button>
            <button onclick="window.location.href = '../Pages/perfilMisDatos.html'">Cerrar Sesión</button>
        </section>
    </body>
</html>
