<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/Styles/components.css">
    <link rel="stylesheet" href="../Assets/Styles/nickNameForm.css">
    <title>Componente nicknameForm</title>
  </head>
  <body>
    <form id="nicknameForm">
      <label for="nicknameInput">Nickname:</label> <br>
      <input type="text" id="nicknameInput" name="nickname" placeholder="Nickname" required/>
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
