<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente Desplegable "Ordenar por"</title>
    <link rel="stylesheet" href="../Assets/Styles/ordenarPorDesplegable.css">

  </head>
  <body>
    <div class="sort">
      <button class="sort-toggle">Ordenar por<i class="fas fa-bars"></i></button>
      <div class="dropdown-content">
          <a href="#" id="ordenarMasBajo"><i class="fas fa-sort-amount-down-alt"></i>Precio Más Bajo</a>
          <a href="#" id="ordenarMasAlto"><i class="fas fa-sort-amount-up"></i>Precio Más Alto</a>
      </div>
    </div>
  </body>
</html>


