<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/Styles/components.css" />
    <link rel="stylesheet" href="../Assets/Styles/form.css" />
    <title>Componentes</title>
  </head>
  <body class="form-main">
    <form class="nicknameForm">
      <section class="input-container">
        <label for="nicknameInput">Nickname:</label> <br />
        <input
          type="text"
          id="nicknameInput"
          name="nickname"
          placeholder="Nickname"
          required
        />
      </section>
      <br />
      <button type="button" id="nickNameButton">Guardar</button>
    </form>

    <form class="passwordForm">
      <section class="password">
        <section class="password-container">
          <input type="password" placeholder="Antigua Contraseña" />
          <input type="password" placeholder="Nueva Contraseña" />
          <input type="password" placeholder="Repetir Contraseña" />
        </section>
      </section>
      <br />
      <button type="button" id="passwordButton">Guardar</button>
    </form>

    <form id="kcalForm">
      <section class="input-container">
        <label for="kcalInput">Kcal Consumidas:</label><br />
        <input
          type="number"
          id="kcalInput"
          name="kcal"
          placeholder="Kcal"
          required
        />
        <span>Kcal</span>
      </section>
      <br />
      <button type="button" id="KcalButton">Guardar</button>
    </form>

    <form class="pesoForm">
      <section class="input-container">
        <label for="pesoInput">Peso:</label><br />
        <input
          type="number"
          id="pesoInput"
          name="peso"
          placeholder="Peso"
          required
        />
        <span>Kg</span>
      </section>
      <br />
      <button type="button" id="pesoButton">Guardar</button>
    </form>

    <form class="alturaForm">
      <section class="input-container">
        <label for="alturaInput">Altura:</label><br />
        <input
          type="number"
          class="alturaInput"
          name="altura"
          placeholder="Altura"
          required
        />
        <span>cm</span>
      </section>
      <br />
      <button type="button" id="alturaButton">Guardar</button>
    </form>
  </body>
</html>
