<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Assets/Styles/slider.css">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
  </head>

  <body>
    <div class="contenedor">
      <div class="slider-contenedor">
        <section class="slider-container">
          <div>
            <h2>
              ¡Domina tu destino con FitByte! Explora nuestra exclusiva colección
              de productos fitness de alta calidad.
              ¡Hazte imparable y conquista tus metas con determinación!
            </h2>
          </div>
          <img src="../Source/slider-img/banner1.png" alt="" />
        </section>
        <section class="slider-container">
          <div>
            <h2>
              Transforma tu cuerpo y tu vida con las rutinas de ejercicios y dietas personalizadas
              de FitByte. ¡Descubre el camino hacia una versión más fuerte, más saludable y
              más feliz de ti mismo!
            </h2>
          </div>
          <img src="../Source/slider-img/banner3.png" alt="" />
        </section>
        <section class="slider-container">
          <div>
            <h2>
              Optimiza tu salud con las herramientas de FitByte. Calcula tus calorías y tu IMC de
              manera precisa para alcanzar tus objetivos de fitness. ¡Da el primer paso
              hacia un estilo de vida más saludable hoy mismo con FitByte!
            </h2>
          </div>
          <img src="../Source/slider-img/banner2.png" alt="" />
        </section>
      </div>
    </div>
    <script src="../Assets/Scripts/slider.js"></script>
  </body>
</html>
