<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Assets/Styles/slider.css">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
  </head>

  <body>
    <div class="contenedor">
      <div class="slider-contenedor">
        <section class="slider-container">
          <img src="../Source/slider-img/banner1.png" alt="" />
        </section>
        <section class="slider-container">
          <img src="../Source/slider-img/banner3.png" alt="" />
        </section>
        <section class="slider-container">
          <img src="../Source/slider-img/banner2.png" alt="" />
        </section>
      </div>
    </div>
    <script src="../Assets/Scripts/slider.js"></script>
  </body>
</html>
