<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Templates/Assets/Styles/components.css">
    <link rel="stylesheet" href="/Templates/Assets/Styles/statsForm.css">
    <title>Componente statsCard</title>
</head>
<body>

<section class="stats-card">
    <img src="img.jpg">
    <section>
        <p>{{Nickname}}</p>
        <section>
            <label>XXX Kcal</label>
            <span>Últimas Kcal Consumidas</span><br>
            <label>XXXX</label>
            <span>IMC</span>
            
        </section>
    </section>
</section>

</body>
</html>
