<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Styles/TarjetaProducto1.css">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
    <title>Tarjeta de Producto</title>
</head>
<body>

<section class="producto-card">
    <img src="../Source/default-img.png" alt="Producto">
    <section class="producto-details">
        <h1>Producto</h1>
        <h2>SKU</h2>
        <h1>XX.XX€</h1>
        <section class="producto-unidades">
            <button class="operar-cantidad">-</button>
            <h2>1</h2>
            <button class="operar-cantidad">+</button>
        </section>
    </section>
</section>

</body>
</html>
