<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
    <link rel="stylesheet" href="../Assets/Styles/tarjetaGeneral.css">
    <title>Tarjeta con Imagen y Texto Clicables</title>
</head>
<body>
<div class="fondo-desenfocado" id="fondoDesenfocado"></div>
<article class="tarjeta">
    <a href="#" onclick="fetchAndInsertHTML('../Components/descripcion.html', 'detalles-tarjeta');mostrarBlur()">
        <img src="" alt="Imagen">
        <p>Lorem</p>
        <p id="id"></p>
    </a>
</article>
</body>
</html>
