<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta de Producto</title>
</head>
<body>
    <div class="product-card">
        <img src="img.jpg" alt="Producto">
        <p class="product-name">Producto</p>
        <p class="product-price">XX.XX€</p>
        <button class="button">Añadir a la cesta</button><br>
        <button class="button">Eliminar</button>
    </div>
</body>
</html>
