<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/Styles/TarjetaProducto1.css">
    <link rel="stylesheet" href="../Assets/Styles/components.css">
    <title>Tarjeta de Producto</title>
</head>
<body>

<section class="producto-card">
    <img src="imagen_producto.jpg" alt="Producto">
    <section class="producto-details">
        <h1>Producto</h1>
        <h2>SKU</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo consequatur dolorem, placeat dolor, quos doloremque consectetur eum magnam modi delectus aut explicabo reprehenderit consequuntur quaerat debitis doloribus tempore! Iusto, quidem!.</p>
        <section class="precio-y-botones">
            <div class="precio">XX.XX€</div>
            <button class="eliminar-btn">Ir a Tienda</button>
        </section>
    </section>
</section>

</body>
</html>
