<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fecha de Compra</title>
    <link rel="stylesheet" href="../Assets/Styles/TarjetaProductoHistorialCompras.css" />
    <link rel="stylesheet" href="../Assets/Styles/components.css" />
</head>
<body>

    <section class="purchase-info">
        <section class="pruchase-details">
            <div class="fecha-compra">
                <p><b>Fecha de compra:</b></p>
                <p id="fecha">XX/XX/XXXX</p>
            </div>
            <div class="vendido-por">
                <p><b>Vendido por:</b></p>
                <p id="empresa">Empresa</p>
            </div>
            <div class="numero-pedido">
                <p><b>Nº de pedido:</b></p>
                <p id="numPedido">XXXXXXXXXXXX</p>
            </div>
        </section>
        <div class="comprar-boton">
            <p><b>Precio: <span id="precio">XX.XX€</span></b></p>
            <button>Comprar de nuevo</button>
        </div>
    </section>
    

</body>
</html>
</html>
