<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fecha de Compra</title>
</head>
<body>

    <section class="purchase-info">
        <div class="fecha-compra">
            <p>Fecha de compra: </p>
            <p>XX/XX/XXXX</p>
        </div>
        <div class="vendido-por">
            <p>Vendido por</p>
            <p>FitByte</p>
        </div>
        <div class="numero-pedido">
            <p>Nº de pedido:</p>
            <p>XXXXXXXXXXXX</p>
        </div>
        <div class="precio">
            <p>Precio: XX.XX€</p>
        </div>
        <button class="button">Comprar de nuevo</button>
    </section>
    

</body>
</html>
