<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>miPerfilDetalles</title>
    </head>
    <body>
        <section id="detalles">
            <button routerLink="/perfil/mis-datos" routerLinkActive="active">Mis Datos</button>
            <button routerLink="/perfil/historial-de-compras" routerLinkActive="active">Historial de Compras</button>
            <button routerLink="/lista-de-deseos" routerLinkActive="active">Lista de Deseos</button>
            <button routerLink="/codigo-promocional" routerLinkActive="active">Mi Código</button>
            <button routerLink="/cerrar-sesion" routerLinkActive="active">Cerrar Sesión</button>
        </section>
        
    </body>
</html> 
