<section id="detalles">
    <button routerLink="/perfil/mis-datos" routerLinkActive="active">Mis Datos</button>
    <button routerLink="/perfil/historial-de-compras" routerLinkActive="active">Historial de Compras</button>
    <button routerLink="/perfil/lista-de-deseos" routerLinkActive="active">Lista de Deseos</button>
    <button routerLink="/perfil/codigo-promocional" routerLinkActive="active">Mi Código</button>
    <button routerLink="/" routerLinkActive="active">Cerrar Sesión</button>
</section>
