<div class="formulario-alimentos">
  <select class="alimentos" name="alimentos" #select>
    <option disabled selected>Alimentos</option>
  </select>
  <br/>

  <div class="input-container">
    <input
      type="number"
      id="cantidad"
      name="cantidad"
      placeholder="Cantidad"
      required
      #cantidad
      (input)="updateFactor()"
    />
    <span>gr</span>
  </div>

  <div class="boton-añadir-a-lista">
    <button type="button" id="addBtn" (click)="addAlimento()">Añadir</button>
  </div>
</div>
